html {
  scroll-behavior: smooth;
  overflow-x: clip;
}
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: $main-font;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
section {
  padding-block: 60px;
  padding-inline: 20px;
}
body {
  position: relative;
  font-family: $main-font;
  color: $black;
}
