html {
  scroll-behavior: smooth;
  overflow-x: clip;
}
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: $main-font;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
section {
  padding-block: 40px;
  background-color: $white;
  @include tablet {
    padding-block: 60px;
  }
}
section:not(:last-child) {
  box-shadow: 0 0 1px $black;
}
section:nth-child(even) {
  background-color: $intersection;
}
body {
  position: relative;
  font-family: $main-font;
  color: $black;
}
.section-heading {
  font-size: 32px;
  font-family: $heading-font;
  text-align: center;
  margin-bottom: 50px;
  color: $accent-color;
  @include tablet {
    font-size: 40px;
  }
}
