.container {
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
    padding-inline: 32px;
  }

  @include desktop {
    width: 1200px;
    padding-inline: 16px;
  }
}
