$main-font: "Comfortaa", sans-serif;
$heading-font: "Pacifico", cursive;

$accent-color: rgb(207, 19, 19);
$main-color: bisque;
$main-color-transparent: rgba(255, 228, 196, 0.707);
$black: rgb(21, 13, 42);
$white: rgb(255, 255, 250);
$intersection: rgb(255, 225, 197);
