@import "~node_modules/modern-normalize/modern-normalize.css";
html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: "Comfortaa", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  padding-block: 60px;
  padding-inline: 20px;
  background-color: rgb(255, 255, 250);
}

section:not(:last-child) {
  box-shadow: 0 0 1px rgb(21, 13, 42);
}

section:nth-child(even) {
  background-color: rgb(255, 225, 197);
}

body {
  position: relative;
  font-family: "Comfortaa", sans-serif;
  color: rgb(21, 13, 42);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.hidden-opacity {
  opacity: 0;
}

.container {
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-inline: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-inline: 16px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 15px;
  background-color: rgb(255, 255, 250);
  box-shadow: 0 0 5px rgb(21, 13, 42);
}

.logo-link {
  width: 80px;
  margin-left: 25px;
}

.nav-list {
  display: flex;
  gap: 60px;
  margin-right: 60px;
}
.nav-item {
  padding: 5px 10px;
  font-family: "Comfortaa", sans-serif;
  color: rgb(21, 13, 42);
  font-size: 20px;
  transition: box-shadow 250ms;
}
.nav-item:hover, .nav-item:focus {
  color: rgb(207, 19, 19);
  box-shadow: rgb(207, 19, 19) 0px 0px 0px 2px inset, rgb(255, 255, 250) 10px -10px 0px -3px, tomato 10px -10px, rgb(255, 255, 250) 20px -20px 0px -3px, rgb(207, 19, 19) 20px -20px;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  height: 90vh;
  padding-block: 60px;
  padding-inline: 100px;
  background-image: url(../img/menu-pelmeni.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-span {
  display: block;
  font-size: 40px;
  line-height: 1.4;
  margin-top: 5px;
  font-weight: 500;
  letter-spacing: normal;
}
.hero-heading {
  border-radius: 25px 125px 0 0;
  padding: 24px;
  width: 700px;
  letter-spacing: 0.1em;
  font-family: "Pacifico", cursive;
  font-size: 54px;
  color: rgb(207, 19, 19);
  text-shadow: 1px 1px 1px black;
  text-align: left;
  background-color: rgba(255, 228, 196, 0.707);
}

.cards--grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
}

.card--wrap {
  display: inline-block;
  place-self: start;
}
.card--wrap:hover .card {
  transform: rotateY(-180deg);
}

.card {
  height: 21rem;
  width: 30rem;
  transition: all 1s ease;
  transform-style: preserve-3d;
  box-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 3rem;
}

.rotated {
  transform: rotateY(-180deg);
}

.card--contents {
  border-radius: 3rem;
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card--depth {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateZ(100px);
  perspective: inherit;
}

.card--figure {
  width: 90%;
  margin: 5%;
}
.card--figure img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
}

.card--front {
  transform-style: preserve-3d;
  background: #fff;
}

.card--back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  background: #fff;
  display: flex;
  flex-direction: column;
  place-content: center;
}
.card--back .retro {
  padding: 15px 20px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  color: rgb(255, 255, 250);
}

.hue {
  /* -- FIRST ROW: NATURE -- */
  /* card 1 -> Paradise */
  /* card 2 -> Red Autumn */
  /* card 3 -> Lilac */
  /* -- SECOND ROW: URBAN -- */
  /* card 4 -> Brick street */
  /* card 5 -> Subway */
  /* card 6 -> Graffiti */
}
.hue--gradient {
  height: 5rem;
  width: 100%;
  background: red;
  border-radius: 5rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
}
.hue--1 {
  background-color: #e5c5b4;
}
.hue--2 {
  background-color: #2cb2bf;
}
.hue--3 {
  background-color: #105a75;
}
.hue--gradient--1 {
  background-image: linear-gradient(90deg, #e5c5b4, #2cb2bf, #105a75);
}
.hue--gradient--1--back {
  background-image: linear-gradient(120deg, #e5c5b4, #2cb2bf, #105a75);
}
.hue--4 {
  background-color: #d0c4ca;
}
.hue--5 {
  background-color: #9d252f;
}
.hue--6 {
  background-color: #373227;
}
.hue--gradient--2 {
  background-image: linear-gradient(90deg, #d0c4ca, #9d252f, #373227);
}
.hue--gradient--2--back {
  background-image: linear-gradient(120deg, #d0c4ca, #9d252f, #373227);
}
.hue--7 {
  background-color: #6608ae;
}
.hue--8 {
  background-color: #c78ff2;
}
.hue--9 {
  background-color: #fcbe34;
}
.hue--gradient--3 {
  background-image: linear-gradient(90deg, #6608ae, #c78ff2, #fcbe34);
}
.hue--gradient--3--back {
  background-image: linear-gradient(120deg, #6608ae, #c78ff2, #fcbe34);
}
.hue--10 {
  background-color: #913534;
}
.hue--11 {
  background-color: #4e6377;
}
.hue--12 {
  background-color: #9bc6fa;
}
.hue--gradient--4 {
  background-image: linear-gradient(90deg, #913534, #4e6377, #9bc6fa);
}
.hue--gradient--4--back {
  background-image: linear-gradient(120deg, #913534, #4e6377, #9bc6fa);
}
.hue--13 {
  background-color: #cbcac8;
}
.hue--14 {
  background-color: #eea200;
}
.hue--15 {
  background-color: #3a3a3a;
}
.hue--gradient--5 {
  background-image: linear-gradient(90deg, #cbcac8, #eea200, #3a3a3a);
}
.hue--gradient--5--back {
  background-image: linear-gradient(120deg, #cbcac8, #eea200, #3a3a3a);
}
.hue--16 {
  background-color: #2ad0ca;
}
.hue--17 {
  background-color: #fc4d9d;
}
.hue--18 {
  background-color: #fcce37;
}
.hue--gradient--6 {
  background-image: linear-gradient(90deg, #2ad0ca, #fc4d9d, #fcce37);
}
.hue--gradient--6--back {
  background-image: linear-gradient(120deg, #2ad0ca, #fc4d9d, #fcce37);
}

.section-heading {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  color: rgb(207, 19, 19);
}

.card-heading {
  font-family: "Pacifico", cursive;
  color: rgb(207, 19, 19);
}

.card-descr {
  display: block;
  font-family: "Comfortaa", sans-serif;
}

.card--figure .card-img {
  max-height: 243px;
  margin: 0 auto;
}

.video-gallery {
  position: relative;
  left: 12%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  text-align: center;
  min-height: 400px;
}

.video-gallery .gallery-item {
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 350px;
  max-height: 190px;
  width: 32%;
  background: #000;
  cursor: pointer;
}

.video-gallery .gallery-item img {
  position: relative;
  opacity: 0.45;
  width: 105%;
  height: 300px;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-23px, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.video-gallery .gallery-item .gallery-item-caption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-gallery .gallery-item h2 {
  font-weight: 300;
  overflow: hidden;
  padding: 0.5em 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
  position: relative;
  margin: 0;
}

.video-gallery .gallery-item p {
  letter-spacing: 1px;
  font-size: 68%;
  padding: 1em 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
  opacity: 0.3;
  transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item .gallery-item-caption {
  text-align: left;
}

.video-gallery .gallery-item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: 1px;
  background: #fff;
  transition: transform 0.3s;
  transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after {
  transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 50em) {
  .video-gallery .gallery-item {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}
.modal-icon {
  cursor: pointer;
}

section-header {
  text-align: center;
  max-width: 35%;
  top: 150px;
  left: 100px;
  margin: 0 auto;
}

.videos {
  position: relative;
}

.video-filter {
  position: absolute;
  left: 0;
  top: 200px;
  background-color: rgb(207, 19, 19);
  width: 200px;
  border-radius: 0 20px 20px 0;
}

.filter-item {
  font-size: 16px;
  text-align: center;
  width: 180px;
  background-color: bisque;
  padding: 15px;
  transition: background-color 250ms ease-in-out, width 250ms ease-in-out;
  border-radius: 0 50px 50px 0;
}

.filter-item:hover {
  background-color: rgba(245, 245, 220, 0.629);
}

.active-filter,
.active-filter:hover {
  background-color: transparent;
  width: 150px;
}

.left {
  position: absolute;
  left: 330px;
}

.right {
  position: absolute;
  right: 100px;
}

.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

.modal {
  position: absolute;
  width: 60%;
  height: 70vh;
  top: 55%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 40px;
  background-color: rgb(255, 255, 250);
  box-shadow: 0 0 2px rgb(21, 13, 42);
  transition: opacity 400ms;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: none;
  font-size: 20px;
  color: rgb(21, 13, 42);
  transition: color 300ms;
}
.close-btn:hover, .close-btn:focus {
  color: rgb(207, 19, 19);
}

.iframe {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9999;
  border-radius: 20px;
  box-shadow: 0 0 4px rgb(21, 13, 42);
  outline: none;
  border: none;
}

.video-controller {
  font-size: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(21, 13, 42);
  transition: color 300ms;
}
.video-controller:hover, .video-controller:focus {
  color: rgb(207, 19, 19);
}

#next {
  position: absolute;
  right: 40px;
}

* {
  cursor: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
}

.cursor2 {
  z-index: 9999;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: black;
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.hover {
  background-color: rgba(255, 0, 0, 0.158);
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.about-video {
  width: calc(57vw + 9px);
  height: 68vh;
  margin-bottom: 25px;
  border-radius: 14px;
  box-shadow: 0 0 4px rgb(21, 13, 42);
}
.about-text {
  padding: 2%;
  border-radius: 0 35px;
  width: 70%;
  background-color: rgba(255, 228, 196, 0.707);
  box-shadow: 0 0 4px rgb(21, 13, 42);
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(21, 13, 42);
  line-height: 1.2;
  text-align: left;
}

#aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: relative;
  background: rgb(207, 19, 19);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  flex-wrap: wrap;
  gap: 40px;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 2.5rem;
  color: rgb(255, 255, 250);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  color: rgb(255, 255, 250);
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: rgb(255, 255, 250);
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../img/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  -webkit-animation: animateWaves 8s linear infinite;
          animation: animateWaves 8s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  -webkit-animation: animate 8s linear infinite !important;
          animation: animate 8s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  -webkit-animation: animateWaves 6s linear infinite;
          animation: animateWaves 6s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}

@-webkit-keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@-webkit-keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 250);
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(255, 255, 250);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(207, 19, 19);
}/*# sourceMappingURL=main.css.map */