<div class="menu-modal overflow">
  <div class="modal menu-inner-modal">
    <button type="button" class="close-btn" aria-label="close">
      <span class="modal-icon">X</span>
    </button>
    <h2 class="asort-head">Асортимент</h2>
      <ul class="asort-list">
        <li class="asort-item">
          Пельмені Сумські (свинина) <span class="price">135 грн/кг</span>
        </li>
        <li class="asort-item">
          Пельмені Філейні (філе куряче+ сир)
          <span class="price">145 грн/кг</span>
        </li>
        <li class="asort-item">
          Чебуреки <span class="price">125 грн/кг</span>
        </li>
        <li class="asort-item">
          Смажені чебуреки <span class="price">140 грн/кг</span>
        </li>
        <li class="asort-item">
          Вареники з картоплею <span class="price">80 грн/кг</span>
        </li>
        <li class="asort-item">
          Вареники з капустою <span class="price">95 грн/кг</span>
        </li>
        <li class="asort-item">
          Вареники з картоплею і грибами <span class="price">90 грн/кг</span>
        </li>
        <li class="asort-item">
          Вареники з картоплею та печінкою <span class="price">95 грн/кг</span>
        </li>
        <li class="asort-item">
          Вареники з картоплею та сиром <span class="price">95 грн/кг</span>
        </li>
        <li class="asort-item">
          Вареники з солодким сиром <span class="price">95 грн/кг</span>
        </li>
        <li class="asort-item">
          Вареники з сиром солоним та зеленню
          <span class="price">95 грн/кг</span>
        </li>
        <li class="asort-item">
          Вареники з мясом <span class="price">140 грн/кг</span>
        </li>
        <li class="asort-item">
          Налисники з копченою куркою та сиром
          <span class="price">155 грн/кг</span>
        </li>
        <li class="asort-item">
          Налисники з шинкою та сиром <span class="price">145 грн/кг</span>
        </li>
        <li class="asort-item">
          Налисники з творогом <span class="price">110 грн/кг</span>
        </li>
        <li class="asort-item">
          Голубці <span class="price">140 грн/кг</span>
        </li>
        <li class="asort-item">Штрулі <span class="price">125 грн/кг</span></li>
        <li class="asort-item">
          Бандерики з капустою <span class="price">100 грн/кг</span>
        </li>
        <li class="asort-item">
          Бандерики з запеченою куркою та сиром
          <span class="price">140 грн/кг</span>
        </li>
      </ul>
    </div>
  </div>
</div>
