<section class="features">
  <div class="cards--grid">
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <figure class="card--figure">
              <img src="./img/menu-pelmeni.jpg" alt="Пельмені" />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--1--back">
          <div class="card--depth">
            <div class="retro">
              <h2>Пельмені</h2>
              <ul>
                <li>Свині</li>
                <li>Свинояловичині</li>
                <li>Свинояловичині</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <figure class="card--figure">
              <img src="./img/menu-holubzi.jpg" alt="Голубці" />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--3--back">
          <div class="card--depth">
            <div class="retro">
              <h2>Голубці</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <figure class="card--figure">
              <img src="./img/menu-hinkali.jpg" alt="Хінкалі" />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--4--back">
          <div class="card--depth">
            <div class="retro">
              <h2>Хінкалі</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <figure class="card--figure">
              <img src="./img/menu-shtruli.jpg" alt="Штрулі" />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--5--back">
          <div class="card--depth">
            <div class="retro">
              <h2>Штрулі</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
