<section class="features" id="products" data-aos="fade-up">
  <h1 class="section-heading">Наші продукти</h1>
  <div class="cards--grid">
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <h2 class="card-heading">Пельмені</h2>
            <figure class="card--figure">
              <img src="./img/menu-pelmeni.jpg" alt="Пельмені" loading="lazy" />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--1--back">
          <div class="card--depth">
            <div class="retro">
              <p class="card--descr">
                Пельмені - одна з найулюбленіших повсякденних страв. За їх
                незвичайний смак, зручність і швидкість приготування, ситість та
                різноманітність. Існує думка, що по-справжньому смачними можуть
                бути лише попередньо заморожені пельмені. Це дозволяє нам
                наліпити пельменів про запас, сховати в морозильну камеру, щоб
                при необхідності швидко і без клопоту приготувати добротний обід
                або вечерю.
              </p>
              <button class="hero-btn" data-card="sleryK4X4S8">
                Дивитись рецепт
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <h2 class="card-heading">Пельмені</h2>
            <figure class="card--figure">
              <img src="./img/menu-pelmeni.jpg" alt="Пельмені" loading="lazy" />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--1--back">
          <div class="card--depth">
            <div class="retro">
              <p class="card--descr">
                Пельмені - одна з найулюбленіших повсякденних страв. За їх
                незвичайний смак, зручність і швидкість приготування, ситість та
                різноманітність. Існує думка, що по-справжньому смачними можуть
                бути лише попередньо заморожені пельмені. Це дозволяє нам
                наліпити пельменів про запас, сховати в морозильну камеру, щоб
                при необхідності швидко і без клопоту приготувати добротний обід
                або вечерю.
              </p>
              <button class="hero-btn" data-card="sleryK4X4S8">
                Дивитись рецепт
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <h2 class="card-heading">Пельмені</h2>
            <figure class="card--figure">
              <img src="./img/menu-pelmeni.jpg" alt="Пельмені" loading="lazy" />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--1--back">
          <div class="card--depth">
            <div class="retro">
              <p class="card--descr">
                Пельмені - одна з найулюбленіших повсякденних страв. За їх
                незвичайний смак, зручність і швидкість приготування, ситість та
                різноманітність. Існує думка, що по-справжньому смачними можуть
                бути лише попередньо заморожені пельмені. Це дозволяє нам
                наліпити пельменів про запас, сховати в морозильну камеру, щоб
                при необхідності швидко і без клопоту приготувати добротний обід
                або вечерю.
              </p>
              <button class="hero-btn" data-card="sleryK4X4S8">
                Дивитись рецепт
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <h2 class="card-heading">Голубці</h2>
            <figure class="card--figure">
              <img src="./img/menu-holubzi.jpg" alt="Голубці" loading="lazy" />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--3--back">
          <div class="card--depth">
            <div class="retro">
              <p class="card--descr">
                Голубці з м'ясом і рисом - це страва, яку варто готувати
                частіше, бо майже всі люблять їх за ніжний та солодкуватий
                м'ясний смак. Ваші голубці перетворяться з урочистої страви на
                повсякденну радість та затишне сімейне свято в вашій оселі
                щодня.
              </p>
              <p class="card--descr">
                Складові:
                <i
                  >м'ясо, рис, цибуля, морква, сіль, перець, томати, соєвий
                  соус, цукор, капуста</i
                >
              </p>
              <button class="hero-btn" data-card="VVMcesPAWiM">
                Дивитись рецепт
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <h2 class="card-heading">Хінкалі</h2>
            <figure class="card--figure">
              <img src="./img/menu-hinkali.jpg" alt="Хінкалі" loading="lazy" />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--4--back">
          <div class="card--depth">
            <div class="retro">
              <p class="card--descr">
                Хінкалі – це національна грузинська страва. у жодному разі їх не
                варто порівнювати з пельменями, бо це кардинально інша страва,
                що водночас складається і з першої та другої страви. Чудова,
                смачна річ!
              </p>
              <p class="card--descr">
                Складові:
                <i>
                  тісто - борошно, вода, олія, сіль, фарш - м'ясо (телятина +
                  свинина 1:1), часник, цибуля, гострий перець, боржомі, соєвий
                  соус, сіль, чорний молотий перець, коріандр</i
                >
              </p>
              <button class="hero-btn" data-card="cxQhBzr7Cvk">
                Дивитись рецепт
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card--wrap">
      <div class="card">
        <div class="card--contents card--front">
          <div class="card--depth">
            <h2 class="card-heading">Штрулі</h2>
            <figure class="card--figure">
              <img
                class="card-img"
                src="./img/menu-shtruli.jpg"
                alt="Штрулі"
                loading="lazy"
              />
            </figure>
          </div>
        </div>
        <div class="card--contents card--back hue--gradient--5--back">
          <div class="card--depth">
            <div class="retro">
              <p class="card--descr">
                Штрулі, вони ж штрудлі… Рецепт з німецьким корінням прижився і в
                нашому меню. На перший погляд блюдо здається дуже домашнім. Але
                прикрасивши його свіжою зеленню, та під яскравим соусом – можна
                подати і в компанії друзів. А в якості напівфабрикатів Штрулі -
                це справжня паличка виручалочка – за 20 хвилин на столі ситне,
                ароматне і ,що також важливо, досить бюджетне блюдо.
              </p>
              <p class="card--descr">
                Для тіста:
                <i>борошно, олія, вода, сіль. </i>Для начинки:
                <i
                  >фарш (свинина), рис, цибуля, морква, капустa, соєвий соус,
                  томатний соус, сіль, перець</i
                >
              </p>
              <button class="hero-btn" data-card="VwI54d-rThQ">
                Дивитись рецепт
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
