<footer class="footer">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>

  <ul class="menu">
    <li class="menu__item">
      <a
        class="menu__link"
        href="https://www.youtube.com/@Vinegret_recipes"
        target="_blank"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </li>
    <li class="menu__item">
      <a
        class="menu__link"
        target="_blank"
        href="https://invite.viber.com/?g2=AQAy7YkvKBUsl09h4oJllA%2BF8zWmyihrMMI0vjzB7t1gVT%2FZOa8OyI%2FWn%2BB5OTHG"
        ><i class="fa-brands fa-viber"></i
      ></a>
    </li>
    <li class="menu__item">
      <a
        class="menu__link"
        href="https://www.facebook.com/profile.php?id=100015467469738"
        target="_blank"
        ><i class="fa-brands fa-facebook"></i
      ></a>
    </li>
  </ul>
</footer>
