<header class="header">
  <a href="./index.html" class="logo-link"
    ><img
      class="logo-img"
      src="./img/logo.png"
      alt="Лого майстерні напівфабрикатів Ласий кусь, зображує ситого та задоволеного кота"
  /></a>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#aboutus" class="nav-link">Про нас</a>
      </li>
      <li class="nav-item"><a href="#products" class="nav-link">Меню</a></li>
      <li class="nav-item"><a href="#videos" class="nav-link">Рецепти</a></li>
    </ul>
  </nav>
</header>
<button type="button" class="mobile-menu-btn">
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="5"
    height="5"
    viewBox="0 0 32 32"
  >
    <circle cx="15" cy="15" r="15" />
  </svg>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="5"
    height="5"
    viewBox="0 0 32 32"
  >
    <circle cx="15" cy="15" r="15" />
  </svg>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="5"
    height="5"
    viewBox="0 0 32 32"
  >
    <circle cx="15" cy="15" r="15" />
  </svg>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="5"
    height="5"
    viewBox="0 0 32 32"
  >
    <circle cx="15" cy="15" r="15" />
  </svg>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="5"
    height="5"
    viewBox="0 0 32 32"
  >
    <circle cx="15" cy="15" r="15" />
  </svg>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="5"
    height="5"
    viewBox="0 0 32 32"
  >
    <circle cx="15" cy="15" r="15" />
  </svg>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="5"
    height="5"
    viewBox="0 0 32 32"
  >
    <circle cx="15" cy="15" r="15" />
  </svg>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="5"
    height="5"
    viewBox="0 0 32 32"
  >
    <circle cx="15" cy="15" r="15" />
  </svg>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="5"
    height="5"
    viewBox="0 0 32 32"
  >
    <circle cx="15" cy="15" r="15" />
  </svg>
</button>
