<header class="header">
  <a href="./index.html" class="logo-link"
    ><img
      class="logo-img"
      src="./img/logo.png"
      alt="Лого майстерні напівфабрикатів Ласий кусь, зображує ситого та задоволеного кота"
  /></a>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="#aboutus" class="nav-link">Про нас</a></li>
      <li class="nav-item"><a href="#products" class="nav-link">Меню</a></li>
      <li class="nav-item"><a href="#videos" class="nav-link">Рецепти</a></li>
    </ul>
  </nav>
</header>
