<header class="header">
  <a href="./index.html" class="logo-link"
    ><img
      class="logo-img"
      src="./img/logo.png"
      alt="Лого майстерні напівфабрикатів Ласий кусь, зображує ситого та задоволеного кота"
  /></a>
  <nav class="nav">
    <ul class="nav-list">
      <a href="#" class="nav-link">
        <li class="nav-item">Про нас</li>
      </a>
      <a href="" class="nav-link">
        <li class="nav-item">Меню</li>
      </a>
      <a href="" class="nav-link">
        <li class="nav-item">Рецепти</li>
      </a>
    </ul>
  </nav>
</header>
