<div class="video-modal overflow visually-hidden">
  <div class="modal">
    <button type="button" class="close-btn" aria-label="close">
      <span class="modal-icon">X</span>
    </button>
    <h3 class="">рецепт</h3>
    <iframe
      class="iframe"
      id="videoModal"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
    <button type="button" id="previous">Попереднє</button>
    <button type="button" id="next">Наступне</button>
  </div>
</div>
