<section class="videos" id="videos">
  <div class="container">
    <div class="video-container">
      <h1 class="section-heading">Рецепти</h1>
      <aside>
        <ul class="video-filter">
          <li class="filter-item" data-category="1">Напівфабрикати</li>
          <li class="filter-item" data-category="2">М'ясні блюда</li>
          <li class="filter-item" data-category="3">cat</li>
          <li class="filter-item" data-category="4">cat</li>
          <li class="filter-item" data-category="5">cat</li>
          <li class="filter-item" data-category="6">cat</li>
          <li class="filter-item" data-category="7">cat</li>
        </ul>
      </aside>
      <div class="video-gallery" id="videoGallery"></div>
    </div>
  </div>
</section>
