<section class="videos" id="videos">
  <div class="container">
    <div class="video-container">
      <h1 class="section-heading">Рецепти</h1>
      <aside>
        <ul class="video-filter">
          <li class="filter-item" data-category="1">Напівфабрикати</li>
          <li class="filter-item" data-category="2">М'ясні блюда</li>
          <li class="filter-item" data-category="3">Супи</li>
          <li class="filter-item" data-category="4">Випічка</li>
          <li class="filter-item" data-category="5">Солодощі</li>
          <li class="filter-item" data-category="6">Салати</li>
          <li class="filter-item" data-category="7">Інше</li>
        </ul>
      </aside>
      <div class="video-gallery" id="videoGallery"></div>
      <button type="button" class="video-controller left"><</button>
      <button type="button" class="video-controller right">></button>
    </div>
  </div>
</section>
