.about {
  &-video {
    height: 67vh;
    margin-bottom: 25px;
    border-radius: 14px;
    box-shadow: 0 0 4px $black;
    width: 90vw;

    @include tablet {
      width: calc(57vw + 9px);
    }
  }
  &-text {
    overflow: hidden;
    padding-block: 15px;
    padding-inline: 15px;
    border-radius: 0 35px;

    background-color: $main-color-transparent;
    box-shadow: 0 0 4px $black;

    font-family: $main-font;
    font-weight: 500;
    font-size: 18px;
    color: $black;
    text-align: left;
    line-height: 1.4;

    @include tablet {
      line-height: 1.2;
      padding-bottom: 0;
      width: 38%;
      height: 67vh;
    }
  }
  &-flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    @include tablet {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-inline: 35px;
    }
  }
}

#aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
