.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 105vh;
  padding: 100px 60px;
  z-index: 1005;
  background-color: $main-color;
  touch-action: none;
  transition: transform 500ms;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &-list {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-link {
    color: $black;
    transition: color 250ms;
    cursor: none;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: $black;
    border: none;
    outline: none;
    transition: color 250ms;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &-onClose {
    transform: translateX(100%);
  }

  &-btn {
    position: fixed;
    top: 40px;
    z-index: 1006;
    right: 30px;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    padding: 8px;
    width: 37px;
    border-radius: 50%;
    background-color: $main-color;
    border: none;
    outline: none;
    overflow: hidden;

    & svg {
      fill: $accent-color;
      transition: transform 600ms;
    }

    @include tablet {
      display: none;
    }
  }
}

.move {
  &-top {
    transform: translateY(-300%);
  }
  &-right {
    transform: translateX(300%);
  }
  &-bottom {
    transform: translateY(300%);
  }
  &-left {
    transform: translateX(-300%);
  }
}

.mobile-menu-list + .footer {
  width: 100vw;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10%;
}
