.overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1004;
}

.modal {
  position: absolute;
  left: 50%;
  width: 85%;
  height: 50%;
  top: 60%;
  z-index: 9999;

  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0 0 2px $black;

  transition: opacity 400ms;
  @include tablet {
    height: 70vh;
    width: 50%;
  }
  @include desktop {
    top: 55%;
    padding: 50px;
  }
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: none;
  font-size: 20px;
  transition: color 300ms;
  color: $black;
  z-index: 9999;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.iframe {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 9999;
  border-radius: 20px;
  box-shadow: 0 0 4px $black;
  outline: none;
  border: none;
}

.video-controller {
  font-size: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  color: $black;
  transition: color 300ms;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

#next {
  position: absolute;
  right: 5px;
  @include tablet {
    right: 10px;
  }
  @include desktop {
    right: 40px;
  }
}
