#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1003;
  font-family: $main-font;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  color: $black;
  padding: 5px 10px;
  background-color: $accent-color;
}
